{% extends 'base.html' %}

{% block title %}{{ article.title }} - BioQuery{% endblock title %}

{% block content %}
<div class="content-wrap py-160">
  <div class="container isotope">
    <div class="row justify-content-center">
      <div class="col-12 text-center mb-60" style="transition-duration: 700ms; opacity: 1; transform: translateY(0px);">
        <img src="/media/{{ article.photo }}" width="300px" />
    </div>
      <div class="col-12 col-lg-10">
        <div class="row">
          <div class="col-12 mb-20">
            <p class="subtitle mt-n10" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1; text-transform: lowercase;">{{ article.category.name }}</p>
            <h3 class="mb-n7" style="transform: translateY(0px); transition-duration: 500ms; opacity: 1;">{{ article.title }}</h3>
          </div>
          <div class="col-12" style="transition-duration: 700ms; opacity: 1; transform: translateY(0px);">
            <p class="mb-3">{{ article.content }}</p>
          </div>
          <div class="col-12" style="transition-duration: 700ms; opacity: 1; transform: translateY(0px);">
            <h3 class="mt-60">Referências</h3>
            {% for ref in references %}
              <div class="mb-30">
                <p class="m-0">{{ ref.name }}</p>
                <p class="m-0">{{ ref.title }}</p>
                <p class="m-0">{{ ref.date_access }}</p>
              </div>
            {% endfor %}
          </div>
          <div class="col-12" style="transition-duration: 700ms; opacity: 1; transform: translateY(0px);">
            <h3>DNA's</h3>
            {% for dna in dnas %}
            <div class="mb-30">
              <p class="m-0">{{ dna.name }}</p>
              <p class="m-0">{{ dna.sequence }}</p>
            </div>
            {% endfor %}
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
