{% extends 'base.html' %}

{% block title %}Novo artigo - BioQuery{% endblock title %}

{% block content %}
<div class="container " style="min-height: calc(100vh - 94px)">
    <div class="row mt-60">
        <h2>DNA's</h2>
        <div class="ml-auto">
            <a class="btn-primary rounded-sm p-10" href="new">Adicionar</a>
        </div>
    </div>
    {% for dna in dnas %}
    <div class="row">
      <div class="col-12 col-md-10 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="card-body">
                      <h4 class="card-title">{{dna.name}}</h4>
                      <p class="card-text">{{dna.sequence}}</p>
                  </div>
              </div>
              <div class="card-footer">
                  <small class="text-muted">{{ref.date_access}}</small>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-2">
        <a href="/articles/dnas/{{dna.id}}/edit/">Editar</a>
        <a href="/articles/dnas/{{dna.id}}/delete/">Remover</a>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock content %}