{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}BioQuery - Aprenda mais lendo artigos!{% endblock title %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
  </head>
  <body class="navbar-scroll navbar-show">
    <header class="navbar navbar-top navbar-expand-lg navbar-fixed">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
          BioQuery
        </a>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link">
              <span class="nav-link-name">artigos</span>
            </a>
          </li>
        </ul>
      </div>
    </header>
    {% block content %}
    {% endblock content %}
    <footer
      class="footer bg-dark text-white shape-parent overflow-hidden py-130"
    >
      <div class="shape align-items-end justify-content-end">
        <svg
          class="mb-n130"
          width="525"
          height="641"
          viewBox="0 0 525 641"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          style="transform: translate3d(0px, -270px, 0px)"
        >
          <circle cx="320.5" cy="320.5" r="320.5" fill=" #202020"></circle>
        </svg>
      </div>
      <div class="container mb-n5">
        <div class="row justify-content-between mt-100 mt-lg-0">
          <div class="col-auto">
            {% now "Y" as current_year %}
            <div class="footer-copyright">&copy; {{ current_year }} - BioQuery.</div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
