{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{% block title %}BioQuery - Aprenda mais lendo artigos!{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap"
    />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="stylesheet" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" href="{% static 'css/feather.css' %}" />
  </head>
  <body class="navbar-scroll navbar-show">

    {% block nav %} {% include "nav.html" %} {% endblock nav %}

    {% block content %} {% endblock content %}

    <footer class="w-100 pt-40 pb-40" style="background: #525b68">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-12">
            <a class="text-white h4" href="">BioQuery</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
