{% extends 'base.html' %} {% load static %} {% block content %}
<style>
  .landing {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(/static/img/initial_background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
  }
  .landing h2 {
    font-family: "Roboto Condensed";
    font-weight: bold;
    color: #2b2b2b;
  }
</style>
<section class="landing min-vh-100">
  <div class="container">
      {% include "nav.html" only %}
    <div class="row mt-60">
      <div class="col-12 col-md-6 pt-60">
        <h2 class="h3">Search for even the smallest molecules.</h2>
        <hr class="m-0" style="width: 40px; color: #f56c1f; border-width: 3px" />

        <div class="input-group mb-3 mt-40">
          <input class="form-control" style="border: 1px solid #f56c1f" />
          <div class="input-group-append">
            <i style="line-height: 2rem; background-color: #F56C1F; padding: 5px 20px" class="feather-search text-white"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center d-none d-sm-block">
        <img style="width: 200px" src="{% static 'img/biological.svg' %}" />
      </div>
    </div>
  </div>
</section>
<section class="mt-60 mb-60 w-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 text-center">
        <h2 class="h3">Lots of data</h2>
        <p style="font-size: 20px">
          We provide a quick way to search for gene expressions, Phenotypes, Proteins and more
          amazing things.
        </p>
        <a class="button" href="#">View more</a>
      </div>
    </div>
  </div>
</section>
<section class="mt-60 mb-60 w-100">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3 text-center">
        <img class="img-fluid" src="{% static 'img/people_on_the_grass.svg' %}" />
      </div>
      <div class="col-12 col-md-9 pl-30">
        <h3>The union makes the difference</h3>
        <p style="font-size: 18px">
          You can contribute and help many people who seek your knowledge. Edit the pages,
          participate in the forum and make it possible to create amazing things.
        </p>
        <a>PARTICIPATE</a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
