{% extends "base.html" %} {% block content %}
<div class="container" style="min-height: calc(100vh - 94px)">
  <div class="row pt-60 pb-60">
    <div class="col-12 col-md-12">
        <div class="text-right">
            <a href="#" class="btn-primary rounded-sm p-9">Nova referência</a>
            <a href="#" class="btn-primary rounded-sm p-9">Registrar DNA</a>
        </div>
    </div>
  </div>
  <div class="row mb-60">
    <div class="col-md-3">
        <img src="" class="w-100" style="height: 200px" />
    </div>
    <div class="col-12 col-md-9 pl-40">
      <div class="form-group">
        <label for="exampleInputEmail1">Título</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder=""
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Conteudo</label>
        <br />
        <textarea class="w-100"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Categoria</label>
        <select>
          <option>a</option>
          <option>b</option>
        </select>
      </div>
      <fieldset style="border: 1px solid grey; padding: 10px">
        <legend>Referências</legend>
        <select>
          <option>a</option>
          <option>b</option>
        </select>
      </fieldset>
      <fieldset style="border: 1px solid grey; padding: 10px">
        <legend>DNA's</legend>
        <select>
          <option>a</option>
          <option>b</option>
        </select>
      </fieldset>
    </div>
  </div>
</div>
{% endblock content %}
